* {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    text-align: center;

}

body {
    height: 100vh;
}

header {
    text-align: center;
    margin: 1em;
}

main {
    width: 90%;
    margin: auto;
}

#turndisplay {
    margin-bottom: 1rem;
}

#turn {
    width: 10vh;
    height: 10vh;
    margin: auto;
}

#grid {
    width: calc(20vh * 3);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    justify-items: center;
}

#grid .cell {
    width: 20vh;
    height: 20vh;
}

#overlaywrapper {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10vh;
}

#overlay {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#overlaybutton {
    width: 30%;
    margin: auto;
}

h1 {
    user-select: none;
}

@media only screen and (max-width: 600px) {
    #turn {
        width: 10vw;
        height: 10vw;
    }
    
    #grid {
        width: calc(20vw * 3);
        grid-template-columns: repeat(3, 20vw);
    }

    #grid .cell {
        width: 20vw;
        height: 20vw;
    }

    #overlay {
        width: 80%;
    }

}